/* layout */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 65rem;
    margin: 0 auto;
    padding: 15px;
    background: #f5f4fa;
    font-family: 'Noto Sans', sans-serif;
}

#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #e0ddef
}

header {
    z-index: 1;
    position: relative;
    text-align: center;
    font-size: 1.2em;
}

main {
    padding: 20px;
    background: #ffffff7a;
    z-index: 1;
    position: relative;
}


/* unstyled lists */

ul {
    padding-left: 0;
}

li {
    list-style: none;
}


/* colors */

h2 {
    color: #0d327c;
}

h3 {
    color: #328ec8;
}

h3 code {
    color: #73aed3;
    font-size: 1.1em;
}