/* layout */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 45rem;
    margin: 0 auto;
    line-height: 1.5em;
    padding: 15px;
    background: #f5f4fa;
    font-family: 'Noto Sans', sans-serif;
}

#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #e0ddef
}

header {
    z-index: 1;
    position: relative;
    text-align: center;
    font-size: 1.2em;
}

main {
    padding: 20px;
    background: #ffffff7a;
    z-index: 1;
    position: relative;
    box-shadow: 0px 0px 20px 0px white;
}


/* unstyled lists */

ul {
    padding-left: 0;
}

li {
    list-style: none;
}


/* typography */

h2 {
    color: #0d327c;
    margin-top: 50px;
}

h3 {
    color: #328ec8;
    margin-top: 35px;
    margin-bottom: 5px;
}

h4 {
    color: #545454;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* sections */

h2 {
    position: sticky;
    top: 0;
    background: #fffffff5;
    box-shadow: 0px 0px 10px 0px white;
    padding: 10px 5px;
    text-align: center;
}