/* layout */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 45rem;
    margin: 0 auto;
    line-height: 1.5em;
    padding: 15px;
    background: #f5f4fa;
    font-family: 'Noto Sans', sans-serif;
}

#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #e0ddef
}

header {
    z-index: 1;
    position: relative;
    text-align: center;
    font-size: 1.2em;
}

main {
    padding: 20px;
    background: #ffffff7a;
    z-index: 1;
    position: relative;
    box-shadow: 0px 0px 20px 0px white;
}


/* unstyled lists */

ul {
    padding-left: 0;
}

li {
    list-style: none;
}


/* typography */

h1 {
    margin-top: 80px;
}

.division:first-child h2 {
    margin-top: 40px;
}

h2 {
    color: #0d327c;
    margin-top: 90px;
    margin-bottom: 45px;
}

.individual-name {
    display: flex;
    margin: 10px 0;
    align-items: baseline;
}

h3 {
    color: #328ec8;
    margin: 0 15px 0 0;
}

h4 {
    color: #545454;
    margin: 0;
}

blockquote {
    border-left: 3px solid #66aad6;
    padding-left: 5px;
    margin-left: 0;
    font-style: italic;
    background: #66aad61a;
    border-radius: 1px;
}


/* utilities */

.clear {
    clear: both;
}


/* sections */

h2 {
    position: sticky;
    top: 0;
    background: #fffffff5;
    box-shadow: 0px 0px 10px 0px white;
    padding: 10px 5px;
    text-align: center;
}

.response {
    margin-bottom: 65px;
}

.response.last {
    margin-top: 60px;
}

.profiles-sprite {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin: 14px 14px 14px 0;
    shape-outside: circle(50%);
}

span.profile {
    background-color: #397aca;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3em;
}


/* events */

.vdh-event {
    margin: 15px 0;
    border: 3px solid white;
    box-shadow: 1px 1px 1px #8080802e;
    background: #ffffff87;
    border-radius: 2px;
}

.vdh-event img {
    max-width: 100%;
}

.vdh-event figcaption {
    line-height: 1.6em;
    padding-left: 5px;
}