<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You Karen</title>



    {% set favicon %}{% include "assets/favicon.svg" %}{% endset %}
    <link rel="shortcut icon" href="data:image/svg+xml,{{favicon | urlencode}}" type="image/svg+xml" />


    <style>
        {% include "assets/styles/fonts.css" %}
        {% include "assets/styles/profiles.css" %}
        {% include "assets/styles/site.css" %}
    </style>
    <script>
        {% include "assets/scripts/site.js" %}
    </script>
</head>
<body>

    {% include "assets/icons/pattern.svg" %}

    <header>
        <h1>
            Thank You Karen
        </h1>
    </header>


    <main>

        {{content | safe}}

    </main>


</body>
</html>
